:root {
  --main-color: #FF6E14;
}

body {
  color: var(--main-color);
}

.topbar {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 5px rgba(131, 50, 50, 0.15);
          box-shadow: 0 3px 5px rgba(131, 50, 50, 0.15);
  height: 67px;
}

.navbar {
  max-width: 60%;
  margin: auto;
}

.navbar-light .navbar-brand {
  color: var(--main-color);
  font-size: xx-large;
  font-family: "Fredoka One", Arial, Helvetica, sans-serif;
}

.navbar-light a.navbar-brand:hover {
  color: var(--main-color);
}

.navbar-expand-lg .navbar-collapse {
  margin-right: -318px;
}

.btn-pass_an_ad {
  background-color: var(--main-color);
  white-space: nowrap;
  margin-left: 5px;
  padding-right: 30px;
  font-weight: 500;
}

button img.pass_an_ad_icon1 {
  width: 14%;
  height: 14%;
}

i.fa-search {
  font-size: 1.5rem;
  margin-bottom: 6px;
}

li.nav-item {
  text-align: center;
  margin-left: 10px;
  font-size: .85em;
  height: 60px;
}

.far, .fas {
  font-size: 1.9em;
  color: black;
  margin: auto;
  margin-bottom: 0;
}

.fa-responsive {
  display: none;
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Open sans", Arial, sans-serif;
  color: black;
  white-space: nowrap;
  margin-top: -5px;
  margin-bottom: -10px;
}

li.nav-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
}

a.nav-link.nav-link-search::after {
  margin-top: 11px;
  left: 30%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

a.nav-link.nav-link-search:hover::after {
  width: 125%;
}

.navbar-nav li a {
  display: block;
  position: relative;
  background: none;
  text-decoration: none;
  margin: 0;
  padding-left: 0;
  white-space: nowrap;
}

.navbar-nav li a:hover {
  color: var(--main-color);
  background: none;
}

.navbar-nav li a::after {
  content: "";
  display: block;
  position: absolute;
  margin-top: 5px;
  margin-bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 0%;
  background-color: var(--main-color);
  border-radius: 5px;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.navbar-nav li a:hover::after {
  width: 100%;
}

@media screen and (max-width: 1600px) {
  .navbar-expand-lg .navbar-collapse {
    margin-right: -150px;
  }
  .navbar {
    min-width: 70%;
  }
}

@media screen and (max-width: 1300px) {
  .navbar-expand-lg .navbar-collapse {
    margin-right: -50px;
  }
  .navbar {
    min-width: 90%;
  }
}

@media screen and (max-width: 991px) {
  .navbar {
    min-width: 90%;
  }
  li.nav-search {
    margin-bottom: 10px;
  }
  .navbar-light .navbar-toggler {
    border-color: #fff;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='10 2 10 27'><path stroke='rgba(255, 110, 20)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/></svg>");
  }
  .fa-responsive {
    display: block;
  }
  .navbar {
    padding: 0.5rem 0;
  }
  .navbar-brand {
    margin-right: 0;
  }
  .fa-responsive {
    color: #FF6E14;
    font-size: 1.5em;
  }
  ._1MxlY {
    display: none;
  }
  .btn-pass_an_ad {
    margin-top: 20px;
    color: #000;
    background-color: #fff;
    border: none;
    height: 37px;
    border-radius: 10px;
    width: 100%;
    text-align: left;
  }
  .btn-pass_an_ad:hover {
    color: #000;
    background-color: rgba(255, 110, 20, 0.1);
    border: none;
  }
  button.pass_an_ad_icon1 {
    color: #000;
    background-color: #fff;
  }
  li.nav-item,
  li.nav-search,
  li a.nav-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 2rem;
    padding-bottom: 3px;
    background-color: #fff;
    border-radius: 10px;
  }
  li.nav-item:hover,
  li.nav-search:hover,
  li a.nav-search:hover {
    background-color: rgba(255, 110, 20, 0.15);
  }
  .navbar-nav li a::after {
    display: none;
  }
}

._1MxlY::before {
  content: "";
  display: block;
  background: var(--main-color);
  height: 9rem;
}

._1MxlY::after {
  content: "";
  display: block;
  background: var(--main-color);
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  height: 6rem;
}

.content {
  height: 1500px;
}
/*# sourceMappingURL=style.css.map */