{% extends 'base.html.twig' %}

{% block title %}Hello FaqController!{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }

    h1 {
        text-align: center;
    }

    h3 {
        padding-left: 20px;
    }
</style>



<div id="accordion">
    <h1>F.A.Q.</h1>
    <div></div>
    <h3>Déposer et gérer mes annonces</h3>
    <div>
        <ul>
            <li>Déposer une annonce
                <ul>
                    {# <li>Comment déposer une annonce ?</li>
                    <li>Combien coûte le dépôt d'une annonce ?</li>
                    <li>#lebongeste, c'est quoi ?</li>
                    <li>Règles de diffusion</li>
                    <li>Que mettre dans le texte de mon annonce ?</li>
                    <li>Comment insérer des photos dans mon annonce ?</li> #}
                </ul>
            </li>
        </ul>
        <ul>
            <li>Nos options de mise en avant et nos packs
                <ul>
                    {# <li>Comment souscrire à une option sur plusieurs annonces en même temps ?</li>
                    <li>Comment ajouter un "Logo Urgent" ?</li>
                    <li>Comment remonter une annonce en tête de liste ?</li>
                    <li>Comment mettre mon annonce "A la Une" ?</li>
                    <li>Comment souscrire à plusieurs options en même temps sur la même annonce ?</li>
                    <li>Comment souscrire au Pack Booster ?</li> #}
                </ul>
            </li>
        </ul>
        <ul>
            <li>Gérer mon annonce
                <ul>
                    {# <li>Reprise d'expiration des annonces</li>
                    <li>Comment modifier mon annonce ?</li>
                    <li>Historique de mes annonces</li>
                    <li>Comment prolonger mon annonce ?</li>
                    <li>Comment retrouver mon annonce ?</li>
                    <li>Comment supprimer mon annonce ?</li> #}
                </ul>
            </li>
        </ul>
        <ul>
            <li>Assistance technique
                <ul>
                    {# <li>Je ne retrouve pas mon annonce</li>
                    <li>Ajout d'une photo impossible</li>
                    <li>Que faire si je ne reçois pas l'email de validation ?</li> #}
                </ul>
            </li>
        </ul>
    </div>

    <h3>Rechercher et consulter les annonces</h3>
    <div>
        <ul>
            <li>Rechercher une annonce
                <ul>
                    {# <li>Comment rechercher une annonce ?</li>
                    <li>Nouveau : la navigation sur Android</li>
                    <li>Qu’est-ce que le badge “Occasion récente” ?</li>
                    <li>Nos conseils de recherche par mots-clés</li> #}
                </ul>
            </li>
        </ul>
        <ul>
            <li>Sauvegarder une recherche
                <ul>
                    {# <li>Comment souscrire à une option sur plusieurs annonces en même temps ?</li>
                    <li>Comment ajouter un "Logo Urgent" ?</li>
                    <li>Comment remonter une annonce en tête de liste ?</li>
                    <li>Comment mettre mon annonce "A la Une" ?</li>
                    <li>Comment souscrire à plusieurs options en même temps sur la même annonce ?</li>
                    <li>Comment souscrire au Pack Booster ?</li> #}
                </ul>
            </li>
        </ul>
        <ul>
            <li>Gérer mon annonce
                <ul>
                    {# <li>Comment sauvegarder une recherche ?</li>
                    <li>Comment consulter mes recherches sauvegardées ?</li>
                    <li>Comment programmer des alertes et notifications de nouvelles annonces publiées ?</li>
                    <li>Comment désactiver des alertes et notifications de nouvelles annonces publiées ?</li>
                    <li>Comment supprimer une recherche ?</li> #}
                </ul>
            </li>
        </ul>
        <ul>
            <li>Comment supprimer une recherche ?
                <ul>
                    {# <li>Comment sauvegarder une annonce ?</li>
                    <li>Ajout d'une photo impossible</li>
                    <li>Comment consulter mes annonces sauvegardées ?</li> #}
                </ul>
            </li>
        </ul>
    </div>

    <h3>Messagerie & Contact</h3>
    <div>
        <ul>
            <li>La messagerie Leboncoin
                <ul>
                    {# <li>Fonctionnement de la messagerie</li>
                    <li>Comment contacter un annonceur ?</li>
                    <li>Comment répondre à un message ?</li>
                    <li>Envoyer des pièces jointes dans la messagerie</li>
                    <li>Supprimer une conversation</li>
                    <li>Gérer les notifications de la messagerie</li> #}
                </ul>
            </li>
        </ul>
        <ul>
            <li>Nos conseils et avertissements
                <ul>
                    {# <li>Nos conseils pour éviter les mauvaises surprises</li> #}
                </ul>
            </li>
        </ul>
        <ul>
            <li>Contacts
                <ul>
                    {# <li>Un message / SMS me paraît douteux</li>
                    <li>Une annonce me paraît douteuse</li>
                    <li>Message ou publicité douteuse de la part de leboncoin</li>
                    <li>On me contacte alors que je n'ai pas déposé d'annonces</li>
                    <li>Quelqu’un me demande de déposer une annonce pour lui</li>
                    <li>Je rencontre un litige avec mon interlocuteur</li> #}
                </ul>
            </li>
        </ul>
        <ul>
            <li>Assistance technique
                <ul>
                    {# <li>Mes messages ne parviennent pas à mes interlocuteurs</li> #}
                </ul>
            </li>
        </ul>
    </div>

    <h3>Gérer mon compte</h3>
    <div>
        <ul>
            <li>Mon compte
                <ul>
                    {# <li>Créer mon compte</li>
                    <li>Mes achats</li>
                    <li>Accéder, récupérer et modifier vos informations personnelles</li>
                    <li>Comment acheter et dépenser des crédits ?</li>
                    <li>Je n'ai pas reçu l'email pour activer mon compte</li>
                    <li>Comment exercer mes droits et supprimer mon compte ?</li> #}
                </ul>
            </li>
        </ul>
        <ul>
            <li>Sécurité de votre compte
                <ul>
                    {# <li>Mon compte semble avoir été piraté</li>
                    <li>J’ai reçu un email m’indiquant une connexion depuis un nouvel appareil</li>
                    <li>J’ai reçu un email de modification de mon IBAN</li> #}
                </ul>
            </li>
        </ul>
        <ul>
            <li>Assistance technique
                <ul>
                    {# <li>Comment contacter le service clients leboncoin ?</li>
                    <li>J’ai un message d’erreur sur Android</li>
                    <li>Nos conseils en cas de problèmes techniques</li>
                    <li>Email de validation de compte non reçu</li> #}
                </ul>
            </li>
        </ul>
        <ul>
            <li>Mon mot de passe
                <ul>
                    {# <li>Comment réinitialiser mon mot de passe ?</li>
                    <li>Comment modifier mon mot de passe ?</li>
                    <li>Que faire si j'ai oublié mon mot de passe ?</li> #}
                </ul>
            </li>
        </ul>
        <ul>
            <li>Confiance & Sécurité
                <ul>
                    {# <li>Gestion éthique et transparente des données personnelles</li>
                    <li>A quoi servent les cookies ?</li> #}
                </ul>
            </li>
        </ul>
    </div>

    <h3>Mon Espace Pro</h3>
    <div>
        <ul>
            <li>Créer mon compte Pro
                <ul>
                    {# <li>Qu'est-ce qu'un compte Pro ?</li>
                    <li>En savoir plus sur les offres leboncoinPro</li>
                    <li>La création d’un compte Pro est-elle obligatoire ?</li>
                    <li>Créer un compte Pro</li>
                    <li>Je n'ai pas reçu l'email pour activer mon compte Pro</li> #}
                </ul>
            </li>
        </ul>
        <ul>
            <li>Déposer mes annonces Pro
                <ul>
                    {# <li>Dépôt d'offres d'emploi gratuit pour les TPE</li>
                    <li>Le dépôt d’annonce par plaque d’immatriculation</li>
                    <li>Règles de diffusion</li>
                    <li>Comment déposer une annonce ? (Pro)</li>
                    <li>Combien coûte le dépôt d'une annonce Pro ?</li>
                    <li>Combien de temps mon annonce reste-t-elle en ligne ?</li> #}
                </ul>
            </li>
        </ul>
        <ul>
            <li>Mon activité
                <ul>
                    {# <li>Qu'est ce que l'analyse du prix ?</li>
                    <li>La page “Activité”</li>
                    <li>La page "Statistiques"</li>
                    <li>Comment gérer mes annonces ?</li>
                    <li>Comment rechercher une ou plusieurs de mes annonces par mot clé ou référence interne ?</li>
                    <li>Qu'est-ce qu'une annonce “peu attractive” ?</li> #}
                </ul>
            </li>
        </ul>
        <ul>
            <li>Page Pro / Boutique
                <ul>
                    {# <li>Comment obtenir une Page Pro ?</li>
                    <li>Comment modifier les informations de ma Page Pro ?</li>
                    <li>Comment utiliser le formulaire de contact ?</li>
                    <li>Comment afficher/masquer mon adresse ?</li>
                    <li>Comment afficher/masquer mon numéro de téléphone ?</li>
                    <li>Comment fonctionne l’affichage de ma note Google ?</li> #}
                </ul>
            </li>
        </ul>
        <ul>
            <li>Gérer mon compte Pro
                <ul>

                </ul>
            </li>
        </ul>
        <ul>
            <li>Gérer mes annonces Pro
                <ul>

                </ul>
            </li>
        </ul>
        <ul>
            <li>Nos options de mise en avant et nos packs
                <ul>

                </ul>
            </li>
        </ul>
    </div>

    <h3>Le service de paiement sécurisé</h3>
    <div>
        <ul>
            <li>Fonctionnement
                <ul>

                </ul>
            </li>
        </ul>
        <ul>
            <li>Je suis acheteur
                <ul>

                </ul>
            </li>
        </ul>
        <ul>
            <li>Je suis vendeur
                <ul>

                </ul>
            </li>
        </ul>
        <ul>
            <li>Véhicules 🚙 🏍
                <ul>

                </ul>
            </li>
        </ul>
    </div>

    <h3>Le service de réservation en ligne</h3>
    <div>
        <ul>
            <li>Fonctionnement
                <ul>

                </ul>
            </li>
        </ul>
        <ul>
            <li>Je suis voyageur
                <ul>

                </ul>
            </li>
        </ul>
        <ul>
            <li>Je suis hôte
                <ul>

                </ul>
            </li>
        </ul>
    </div>
</div>
{% endblock %}