{% extends 'base.html.twig' %}

{% block title %}Modifier une annonce{% endblock %}

{% block body %}
    <h1>Modifier une annonce</h1>

    {{ include('notice/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('notice_index') }}">Retour à la liste</a>

    {{ include('notice/_delete_form.html.twig') }}
{% endblock %}
